body {
    background-color: rgb(240, 236, 236);
    margin: 0;
}

input {
    background-color: rgb(240, 236, 236);
}

h1 {
    margin: 0 auto;
    text-align: center;
    margin-top: 100px !important;
}

span {
    color: rgb(167, 0, 0);
}

form {
    margin-top: 50px;
    box-shadow: 0px 1px 5px;
    width: 800px;
    margin: 0 auto;
    max-width: 700px;
    padding: 20px;
    margin-top: 30px !important;
    margin-left: 200px !important;
}

h4 {
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;
    font-size: 25px;
}
.accordion{
    width: 450px;
    margin-top: 40px;
    margin: 0 auto;
    align-items: center;
    background-color: rgb(240, 236, 236);
}
.button2 {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #090909;
    padding: 0.7em 1.7em;
    cursor: pointer;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  }
  
  .button2:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
  }
  
  .button2:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button2:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #4f1010;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button2:hover {
    color: #ffffff;
    border: 1px solid #540000;
  }
  
  .button2:hover:before {
    top: -35%;
    background-color: #bbbdbd;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  .button2:hover:after {
    top: -45%;
    background-color: #630505;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  